<section class="bg-primary p-3 h-75 app-hero">
  <div class="d-flex flex-column justify-content-center align-items-center text-center h-100">
    <h1>Persona CRUD</h1>
    <p>create - read - update - delete</p>
  </div>
</section>
<section class="my-5">
  <div class="container">
    <h2 class="text-center pb-5">Tecnologías</h2>
    <div class="d-lg-flex justify-content-between text-center text-muted mb-5">
      <div class="card-feature px-4">
        <h2>Material + Bootstrap</h2>
        <p>His likeness beast moved domini moved above meat all fly blessed greater creepeth you</p>
      </div>
      <div class="card-feature px-4">
        <h2>Angular</h2>
        <p>His likeness beast moved domini moved above meat all fly blessed greater creepeth you</p>
      </div>
      <div class="card-feature px-4">
        <h2>Spring Boot</h2>
        <p>His likeness beast moved domini moved above meat all fly blessed greater creepeth you</p>
      </div>
    </div>
  </div>
</section>
