.app-hero {
  color: white;

  h1 {
    font-size: 7vw;
    line-height: 7vw;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 10px;
  }

  p {
    font-size: 3vw;
    line-height: 3vw;
    font-weight: 500;
    text-transform: uppercase;
  }
}

img {
  height: 65px;
  width: auto;
}
